.slider {
  width: 500px;
  height: 500px;
  overflow: hidden;
  margin: 50px auto;
  border-radius: 10px;
  position: relative;
  background-color: whitesmoke;
}

.slider > input {
  display: none;
}

.slides {
  width: 900%;
  height: 100%;
  display: flex;
}

.slide {
  width: 11.111111%;
  transition: margin-left 0.6s ease;
}

.slide img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.navigation-manual {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.manual-btn {
  border: 2px solid rgb(0, 120, 75);
  background-color: whitesmoke;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.25s, background 0.25s;
}

.manual-btn:hover {
  background-color: rgb(5, 171, 106);
}

#img-1:checked ~ .slides .first { margin-left: 0; }
#img-2:checked ~ .slides .first { margin-left: -11.111111%; }
#img-3:checked ~ .slides .first { margin-left: -22.222222%; }
#img-4:checked ~ .slides .first { margin-left: -33.333333%; }
#img-5:checked ~ .slides .first { margin-left: -44.444444%; }
#img-6:checked ~ .slides .first { margin-left: -55.555556%; }
#img-7:checked ~ .slides .first { margin-left: -66.666667%; }
#img-8:checked ~ .slides .first { margin-left: -77.777778%; }
#img-9:checked ~ .slides .first { margin-left: -88.888889%; }

#img-1:checked ~ .navigation-manual label[for="img-1"],
#img-2:checked ~ .navigation-manual label[for="img-2"],
#img-3:checked ~ .navigation-manual label[for="img-3"],
#img-4:checked ~ .navigation-manual label[for="img-4"],
#img-5:checked ~ .navigation-manual label[for="img-5"],
#img-6:checked ~ .navigation-manual label[for="img-6"],
#img-7:checked ~ .navigation-manual label[for="img-7"],
#img-8:checked ~ .navigation-manual label[for="img-8"],
#img-9:checked ~ .navigation-manual label[for="img-9"] {
  background: rgb(5, 171, 106);
  transform: scale(1.3);
}
