@font-face {
    font-family: "bebas";
    src: url("../font/Coolvetica\ Hv\ Comp.otf");
}

html {
    font-family: "bebas", sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(5, 171, 106);
}



header {
    position: fixed;
    top: 10px;
    z-index: 1000;
    width: 99%;
    text-align: center;
    font-size: 40px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px grey;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100px;
}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
    color: rgb(5, 171, 106);
    border-bottom: 3px solid transparent;
    border-radius: 0;
    transition: 0.3s ease-in-out;
}

header a:has(img) {
    border-bottom: none;
}

header a:visited {
    color: rgb(5, 171, 106);
    text-decoration: none;
}

header a:hover {
    color: rgb(0, 120, 75);
    border-bottom: 3px solid rgb(0, 120, 75);
    border-radius: 0;
}

header a:has(img):hover {
    border-bottom: none;
}

header img {
    padding: 0;
    vertical-align: middle;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

header #logo {
    height: 100px;
}

header #user_img {
    height: 60px;
}

header img:hover {
    transform: scale(1.1);
    border-bottom: none;
}

#header_page_actuelle {
    text-decoration: none;
    border-bottom: 3px solid rgb(0, 120, 75);
    color: rgb(0, 120, 75);
}



main {
    margin-top: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

main h1 {
    color: whitesmoke;
    font-size: 65px;
    margin: 10px;
    margin-bottom: 20px;
}

main a {
    font-size: 30px;
    color: white;
    background-color:rgb(0, 120, 75);
    width: fit-content;
    margin: 5px;
    padding: 5px 20px;
    border-radius: 10px;
    text-decoration: none;
}

main p {
    font-size: 30px;
}

main form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}